@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

:root {
  --font-regular: 400;
  --font-bold: 700;
  --font-extra-bold: 900;
  --white: #ffffff;
  --black: #000000;
  --light-gray: #e2e8f0;
  --yellow: #f0b42a;
  --blue: #1a92d3;
  --text-gray: #636363;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: var(--font-regular);
  color: var(--black);
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
}

.container {
  width: 110rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 4fr;
}

.section-main {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
}

.primary-header {
  grid-column: 1 / span 3;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.icons {
  width: 2rem;
  height: 2rem;
}

.images {
  width: 3.5rem;
  height: 3.5rem;
}

.primary-header-first-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 1.5rem;
}

.primary-header-first-row-first-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search {
  width: 50rem;
  border: none;
  border-radius: 10px;
  height: 2rem;
  background-color: var(--light-gray);
}

.primary-header-first-row-second-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.primary-header-first-row-image {
  display: inline;
}

.primary-header-first-row-name {
  display: inline;
  font-size: 1.3rem;
  font-weight: var(--font-bold);
}

.primary-header-second-row {
  display: flex;
  gap: 2rem;
}

.images-big {
  height: 4.5rem;
  width: 4.5rem;
}

.primary-header-second-row > li:first-child {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: auto;
}

.primary-header-second-row-hello-message > p:first-child {
  font-size: 1rem;
}

.primary-header-second-row-hello-message p:nth-child(2) {
  font-size: 1.5rem;
  font-weight: var(--font-bold);
}

.primary-header-second-row-buttons {
  width: 8rem;
  height: 3rem;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: var(--font-bold);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}

.sidebar {
  background-color: var(--blue);
  color: var(--white);
  padding: 1rem;
}

.sidebar > ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar > ul > li:nth-child(7) {
  margin-bottom: 3rem;
}

.sidebar > ul > li:first-child {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.sidebar > ul > li {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}

.icons.dashboard {
  width: 3rem;
  height: 3rem;
}

.projects {
  padding: 2rem 1rem;
  background-color: var(--light-gray);
}

.main-cards {
  width: 100rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.projects-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  background-color: var(--light-gray);
}

.projects-cards > div {
  border-left: 4px solid var(--yellow);
  border-radius: 8px;
  padding: 3rem 1rem;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
  background-color: var(--white);
  position: relative;
}

.projects-cards > div > div {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.projects-cards > div > div > ul {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}

.projects-cards > div > h3 {
  font-size: 1.5rem;
}

.projects-cards > div > p {
  font-size: 1.2rem;
  color: var(--text-gray);
  margin-bottom: 3rem;
}

.projects-header,
.announcements-header {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.right-sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;
  background-color: var(--light-gray);
}

.announcements > div > h3 {
  font-size: 1.5rem;
}
